<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook Payments Example</title>
    <div id="fb-root"></div>
    <link href="/item.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/thirdparty/foundation/css/foundation.css" />
    <script src="/thirdparty/foundation/js/vendor/modernizr.js"></script>
    <script src="/thirdparty/JSXTransformer-0.10.0.js"></script>
    <script src="/thirdparty/moment.js"></script>
    <script src="http://fb.me/react-with-addons-0.11.1.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
    <script>
      fbconfig = { 
        app_id: '<%= fbconfig.app_id %>'
      }
      Parse.initialize("<%= parseconfig.app_id %>", "<%= parseconfig.javascript_key %>");
    </script>
    <script src="/util.js"></script>
    <script type="text/jsx" src="/catalog.js"></script>
    <script type="text/javascript" id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script>
    <script>
      FB.init({
        appId      : fbconfig.app_id,
        status     : true,
        version    : 'v2.0'
      });

      if(0) {
        FB.login(function(response) {
          if (response.authResponse) {
            console.log('logged in ');
          } else {
            console.log('User cancelled login or did not fully authorize.');
          }
        });
      }
    </script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to Your Item Manager</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div id="item_area"></div>
      </div>
    </div>
  </body>
</html>
