.group2Col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.groupName {
    display: inline-block;
}

.groupName:hover{
    background-color:lightblue;
}

.groupDelete {
    display: inline-block;
    height: 10px;
}

.groupInfo {
    float:right;
}